.button {
  display: block;
  margin: 0 auto;
  padding: 0 5px;
  border: none;
  border-radius: 8px;
  min-width: 280px;
  height: 50px;
  text-align: center;
  background-color: rgb(99, 99, 99);
  color: var(--first-secondary-color);
  font-weight: 500;
  font-size: 20px;
}

.button:hover {
  cursor: pointer;
}

.buttonSubmit {
  composes: button;
  background-color: var(--first-main-color);
}

.buttonCancel {
  composes: button;
  background-color: var(--second-main-color);
}
