.button {
  display: block;
  margin: 10px auto;
  padding: 0 5px;
  border: none;
  border-radius: 8px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  background-color: var(--first-main-color);
  color: var(--first-secondary-color);
  font-weight: 500;
  font-size: 20px;
}

.button:hover {
  cursor: pointer;
}

.buttonSubmit {
  composes: button;
  background-color: var(--second-secondary-color);
}

.buttonCancel {
  composes: button;
  background-color: var(--third-main-color);
}

.buttonDisabled {
  composes: button;
  background-color: rgb(126, 125, 125);
}
