:root {
  --first-main-color: #e7003e;
  --second-main-color: #370470;
  --third-main-color: #1d3242;

  --first-secondary-color: #f1faee;
  --second-secondary-color: #03c513;
  --third-secondary-color: #457b9d;
}
