.header {
  height: 80px;
  background-color: var(--second-main-color);
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.logo {
  color: var(--first-secondary-color);
}

.cart {
  height: 100%;
}

.link {
  color: var(--first-secondary-color);
  font-size: 20px;
  text-decoration: none;
}
