.header {
  min-height: 60px;
  background-color: var(--second-main-color);
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--first-secondary-color);
}

.cart {
  height: 100%;
}

.link {
  color: var(--first-secondary-color);
  font-size: 20px;
  text-decoration: none;
}
